@media only screen and (min-width: 32.5rem) {
  .headings h1 {
    display: flex;
    margin: 1rem;
    font-size: xx-large;
    align-items: center;
    text-align: center;
    color: whitesmoke;
  }

  main {
    margin: 15px;
  }

  .actionBtn {
    bottom: 25px;
    left: 25px;
  }

  .spotlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .spot1 {
    grid-column: 1/2;
    padding: 15px;
  }

  .spot2 {
    grid-column: 2/3;
    padding: 15px;
  }

  .spot3 {
    display: none;
  }

  .weatherSec {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .currentweather {
    grid-column: 1/2;
  }

  .futureweather {
    grid-column: 2/3;
  }

  .history img {
    float: left;
    max-width: 40%;
    margin: 0 15px 15px 0;
  }

  .contactInfo {
    clear: both;
  }

  /*---------------- FOOTER ----------------*/
  footer {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr;
    align-items: center;
    font-size: 0.8em;
  }

  footer a {
    color: white;
    padding: 10px;
    margin: 0;
  }

  .address {
    text-align: left;
  }

  footer .socials {
    grid-column: 4/5;
  }

  footer .socials img {
    padding: 5px;
  }

  .studentInfo {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .modification {
    grid-column: span 4;
  }
}
