* {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #82b74b;
  color: white;
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr; */
  align-items: center;
  justify-content: center;
}

.hamburgerBtn {
  display: flex;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburgerBtn .bar {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

nav {
  margin: 0 auto;
}

nav ul li a:hover {
  color: white;
  background-color: #405d27;
}

.primaryNav {
  list-style: none;
  padding: 0;
}
.primaryNav li:first-child {
  display: block;
}
.primaryNav li {
  display: none;
}
.primaryNav li a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 0.95rem;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.primaryNav a.ham::before {
  content: "";
}

.responsive li {
  display: block;
}

.responsive a.ham::before {
  content: "❌ ";
}

.social {
  display: flex;
  flex-direction: row;
}

.socialLogo {
  width: 35px;
  padding: 5px;
}

.headerDate {
  margin: 3em;
  padding: 3em;
  background-color: #405d27;
  color: white;
  justify-content: center;
}

body {
  background-color: #c1946a;
}

.hero {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.event {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.weather {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.join {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.news {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.spotlights {
  background-color: gray;
  padding: 5px;
}

.spot1 {
  height: 150px;
  border: 1px solid #3e4444;
  margin: 3px;
}

.spot2 {
  height: 150px;
  border: 1px solid #3e4444;
  margin: 3px;
}

.spot3 {
  height: 150px;
  border: 1px solid #3e4444;
  margin: 3px;
}

footer {
  background-color: #3e4444;
  color: white;
}
