* {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #82b74b;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 55px;
  align-items: center;
}

.logo {
  border-radius: 50%;
  margin: 5px;
}

header .logo {
  max-width: 90px;
}

.headings h1 {
  margin: 0;
}

.headings p {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
}

nav li {
  list-style: none;
}

nav li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

nav li a:hover {
  color: white;
  background-color: #405d27;
}

.menuBtn {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.menuBtn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.social {
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
}

.socialLogo {
  width: 30px;
  padding: 5px;
}

.headerDate {
  margin: 1rem;
  padding: 0.75rem;
  background-color: #405d27;
  color: white;
  text-align: center;
  grid-column: span 4;
}

main {
  background-color: #c1946a;
  margin: 0.25rem;
}

.hero {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.event {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.weather {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.join {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.news {
  height: 150px;
  background-color: gray;
  padding: 5px;
}

.spotlights {
  background-color: gray;
  padding: 5px;
}

.spot1 {
  height: 150px;
  border: 1px solid #3e4444;
  margin: 3px;
}

.spot2 {
  height: 150px;
  border: 1px solid #3e4444;
  margin: 3px;
}

.spot3 {
  height: 150px;
  border: 1px solid #3e4444;
  margin: 3px;
}

footer {
  background-color: #3e4444;
  color: white;
  text-align: center;
}

footer .logo {
  max-width: 150px;
}

footer .address p {
  margin: 0;
  font-style: italic;
}

footer .chamberName {
  font-weight: bold;
}

footer a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

footer a:hover {
  color: white;
  background-color: gray;
}

footer .studentInfo {
  border-top: 2px solid gray;
  margin: 1rem;
  padding: 0.75rem;
  font-size: 0.9rem;
}

footer .studentInfo p {
  margin: 0;
}

footer .studentName {
  font-weight: bold;
}
