@media only screen and (min-width: 32.5rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero {
    grid-column: span 3;
  }

  .event {
    grid-column: span 2;
  }

  .join {
    display: grid;
    grid-row: 4/5;
    grid-column: span 3;
    grid-template-rows: 50px 1fr;
  }

  .join .joinBtn {
    display: block;
    background-color: #82b74b;
    color: black;
    font-weight: bolder;
    font-size: large;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
  }

  .join a {
    display: block;
    color: #1c1f1f;
    text-decoration: none;
  }

  .join a:hover {
    background-color: #405d27;
    color: white;
    padding: 1rem;
    border-radius: 15px;
  }

  .news {
    grid-row: 2/3;
    grid-column: span 3;
  }

  .spotlights {
    grid-column: span 3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    display: grid;
    grid-template-columns: 170px 1fr 1fr;
    align-items: center;
    font-size: 1em;
  }

  .address {
    text-align: left;
  }

  footer a {
    color: white;
    padding: 0;
    margin: 0;
  }

  .studentInfo {
    grid-column: span 3;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
  }

  .directorypage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    padding: 15px;
  }

  .businessBtns {
    grid-column: 2/3;
    align-self: center;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
    padding: 15px;
    margin: 3px;
    box-shadow: none;
  }

  footer .studentInfo p {
    padding: 0 1rem;
    border-right: 2px solid white;
  }

  footer .studentInfo .modification {
    border-right-style: none;
  }
}
